.git/**
.github/**
.gitignore
.pytest_cache/**
.vscode/**
node_modules/**
src/**
test/**
Fig/**
templates/**
commands.tex
main.tex
references.bib
theme.sty
theorems.tex
!assets/template/Fig/**
!assets/template/templates/**
!assets/template/commands.tex
!assets/template/references.bib
!assets/template/theme.sty
!assets/template/theorems.tex
!examples/toolkit-guide/Fig/**
!examples/toolkit-guide/commands.tex
!examples/toolkit-guide/main.tex
!examples/toolkit-guide/references.bib
!examples/toolkit-guide/theme.sty
!examples/toolkit-guide/theorems.tex
esbuild.mjs
examples/**/*.pdf
examples/**/*.aux
examples/**/*.bbl
examples/**/*.bcf
examples/**/*.blg
examples/**/*.fdb_latexmk
examples/**/*.fls
examples/**/*.log
examples/**/*.out
examples/**/*.run.xml
examples/**/*.synctex.gz
examples/**/*.toc
examples/**/*.xdv
templates/**/*.pdf
templates/**/*.aux
templates/**/*.fdb_latexmk
templates/**/*.fls
templates/**/*.log
templates/**/*.out
templates/**/*.synctex.gz
templates/**/*.toc
templates/**/*.xdv
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.run.xml
*.synctex.gz
*.toc
*.xdv
coverage/**
tsconfig.json
theme.ui.json
theme.colors.tex
theme.overrides.tex
