.git/**
.github/**
.gitignore
.DS_Store
**/.DS_Store
assets/yiqisnips.png
assets/latex-toolkit.png
icon.png
image.png
image 2.png
cookie
cookie-sjtu
.pytest_cache/**
.vscode/**
node_modules/**
scripts/**
src/**
test/**
syntaxes/*.yaml
Fig/**
templates/**
examples/**
commands.tex
main.tex
references.bib
theme.sty
theorems.tex
!assets/template/Fig/**
!assets/template/templates/**
!assets/template/commands.tex
!assets/template/references.bib
!assets/template/theme.sty
!assets/template/theorems.tex
!assets/icon.png
!assets/activitybar.svg
esbuild.mjs
templates/**/*.pdf
templates/**/*.aux
templates/**/*.fdb_latexmk
templates/**/*.fls
templates/**/*.log
templates/**/*.out
templates/**/*.synctex.gz
templates/**/*.toc
templates/**/*.xdv
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.run.xml
*.synctex.gz
*.toc
*.xdv
coverage/**
*.vsix
tsconfig.json
theme.ui.json
theme.colors.tex
theme.overrides.tex
